<div class="container">
    <br>
    <h1>BoutiqueWii</h1>
    <br>
    <p>Somos una pyme dedicada a ofrecer lo que buscas <br> en moda, calidad y precio</p>

    <%= link_to "Inicio", home_path%>

</div>