<br>
<div class="container">
    <h1>Boutique Wii</h1>
    <p>Todo para tu comodidad</p>

    <%= link_to "Conocenos", '/pages/about',class:"btn btn-secondary" %>
    <%= link_to "Productos", 'posts',class:"btn btn-primary" %>

</div>